/* FourthSection.css */
.fourth-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #F2F2EB;
  padding: 2rem 1rem; /* Ensure padding for spacing on smaller screens */
}

.title-container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

.section-divider {
  width: 60px;
  border-width: 2px;
  border-color: #F2F2EB;
}

.section-title {
  font-size: 2.25rem;
  text-transform: capitalize;
  font-weight: bold;
}

/* Flexbox container for products */
.section-items {
  display: flex;
  flex-direction: column; /* Stack products in a column by default */
  align-items: center;
  gap: 20px; /* Space between products */
  width: 100%;
}

@media (min-width: 768px) {
  .section-items {
    flex-direction: row; /* Side by side layout for larger screens */
    justify-content: space-evenly;
  }
}
