.background-container {
  position: relative;
  width: 100%;
  min-height: 60vh;
  max-height: 60vh;
  background-size: cover; /* Ensure the image covers the container */
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/img/MA-landingImage.jpg');
  opacity: 0.8; /* Adjust the opacity as needed */
  z-index: -9999999;
}

.landing-page-text {
  position: absolute;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: rgb(6, 6, 6);
  background: rgba(255, 255, 255, 0.8); /* Background for readability */
  border-radius: 10px;
}


@media (max-width: 800px) {
  .landing-page-text {
    top: 25%;
    left: 10%; /* Adjusted to move text further left */
    line-height: 1;
    width: 80%;
  }
}


@media (min-width: 800px) {
  .landing-page-text {
    top: 30%;
    left: 30%; /* Adjusted to move text further left */
    /* transform: translate(-20%, -50%); */
    line-height: 1.6;
    width: 40%;
    min-width: 40%;
  }
}

@media (min-width: 800px) {
  .landing-page-text p:first-of-type {
    font-size: 2.5rem; /* Larger font size for the first heading */
    font-weight: 700; /* Bolder */
    margin-bottom: 20px; /* Add some spacing between the two blocks */
  }
  .landing-page-text p:last-of-type {
    font-size: 1.5rem; /* Smaller font size for the paragraph */
    font-weight: 400;
    margin-top: 0; /* Reduce margin on the top to balance spacing */
  }
}


@media (max-width: 800px) {
  .landing-page-text p:first-of-type {
    font-size: 2.5rem; /* Larger font size for the first heading */
    font-weight: 600; /* Bolder */
    margin-bottom: 20px; /* Add some spacing between the two blocks */
  }
  .landing-page-text p:last-of-type {
    font-size: 1.5rem; /* Smaller font size for the paragraph */
    font-weight: 400;
    margin-top: 0; /* Reduce margin on the top to balance spacing */
  }
}


