.second-section-container {
    height: auto;
    min-height: 80vh; /* lg:h-screen */
    display: flex;
    align-items: center;
    background-color: white;
    padding: 2rem 1rem; /* px-4 py-8 */
    padding: 3rem 9rem; /* lg:py-12 lg:px-36 */
  }
  
  .image-container {
    display: flex; /* Adjusted to flex */
    align-items: center;
  }
  
  .placeholder-image {
    width: 356px;
    height: 480px;
    margin-left: -2rem; /* -ml-8 */
    margin-right: 2rem;
    background-color: #F3F3F3;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    gap: 1rem; /* space-x-4 */
  }
  
  .founder-message-divider {
    width: 60px;
    border: 2px solid #D6AD60;
  }
  
  .founder-message-title {
    font-size: 1.5rem; /* text-2xl */
    font-size: 1.875rem; /* sm:text-3xl */
    font-size: 2.25rem; /* lg:text-4xl */
    font-weight: 600; /* font-semibold */
    text-transform: capitalize;
  }
  
  .founder-message-paragraph {
    font-size: 1.25rem; /* text-xl */
    margin: 2.5rem 0; /* my-10 */
  }
  
  .button-container {
    display: flex;
    gap: 1.25rem; /* space-x-5 */
  }
  
  /* Add more classes as needed */
  

  