/* .second-section-container {
  height: auto;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2EB;
  padding: 2rem 1rem;
  flex-direction: column; 
}

@media (min-width: 768px) {
  .second-section-container {
    flex-direction: row;
    padding: 3rem 2rem;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; 
}

@media (min-width: 768px) {
  .image-container {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.placeholder-image {
  width: 100%;
  max-width: 300px; 
  height: auto;
  background-color: #F2F2EB;
}

@media (min-width: 768px) {
  .placeholder-image {
    width: 356px; 
    height: 480px; 
  }
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.founder-message-divider {
  width: 40px;
  border: 2px solid #8f8e63;
}

.founder-message-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

@media (min-width: 768px) {
  .founder-message-title {
    font-size: 2rem;
  }
}

.founder-message-paragraph {
  font-size: 1rem;
  margin: 1.5rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .founder-message-paragraph {
    font-size: 1.25rem;
    margin: 2.5rem 0;
    text-align: left;
  }
}

.button-container {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .button-container {
    justify-content: flex-start;
  }
} */
