.protectiveRoute {
    background-color: #0C0F18;
    color: goldenrod;
    font-size: xx-large;
}

html,body {
    background-color: #0C0F18;
}

.submit {
    border-color:  b#0C0F18;
    color: #F2F2eb;
    background-color: mediumpurple;
    padding: 0.25em;
    margin: 0.5em;
    border-radius: 0.5em;
}

.submit:hover {
    background-color: goldenrod;
    color: #F2F2eb;
}

.formInput {
    border-radius: 0.5em;
    padding: .25em;
}