/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.protectiveRoute {
    color: #1b5537;
    font-size: medium;
}

html,body {
    font-family: 'Poppins', sans-serif;
    color: #1b5537;
}

.submit {
    color:  #F2F2EB;
    background-color:#1b5537;
    padding: 0.25em;
    margin: 0.5em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 0.5em;
}

.submit:hover {
    background-color: #D6AD60;
    color: #F2F2EB;
}

.formInput {
    border-radius: 0.5em;
    padding: .25em;
    color: #1b5537;
    font-family: 'Poppins', sans-serif;
    background-color:#e2e2dc;
    max-width: 11.5rem;
}

.form {
    max-width: 11.5rem;
    font-family: 'Poppins', sans-serif;
}

.heading {
    color:#1b5537;
    font-size: x-large;
    font-family: 'Poppins', sans-serif; 
    margin-left: .2em;
    margin-bottom: .25em;
} */


/* #043019 */
/* 
background-color: #043019;
text-transform: capitalize;
}
#D6AD60 */
