.nav-item {
    position: relative;
    z-index: 20;
}

.nav-item-container {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; /* space-x-2 */
    padding-bottom: 0.75rem; /* pb-3 */
    border-bottom: 4px solid transparent;
    color: #f2f2eb;
}

.nav-item-dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Aligns with the bottom of the nav item */
    left: 0;
    width: 100%; /* Full width to match the nav item's width */
    background-color: black;
    color: #f2f2eb;
    flex-direction: column;
    padding: 0.5rem 0; /* Add padding to dropdown */
}

.group:hover .nav-item-dropdown {
    display: flex; /* Show on hover */
}

.dropdown-item {
    padding: 0.75rem .9rem; /* Vertical and horizontal padding */
    border-left: 4px solid transparent; /* Placeholder for the highlight effect */
    transition: background-color 0.3s, border-left-color 0.3s; /* Smooth transition for hover */
    line-height: 1.5; /* Example value, adjust as needed */
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Highlight effect on hover */
    border-left-color: #D6AD60; /* Color for the highlight effect */
}

.dropdown-item:not(:last-child) {
    border-bottom: 1px solid black; /* Separator color, adjust as needed */
}

.dropdown-item:last-child {
    border-bottom: none; /* No border for the last item */
}

