.footer {
  position: absolute;
  left: 0;
  bottom: 0;
}


.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #aab9c7;
  color: #000000;
  padding: 20px 0;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Limit the width for larger screens */
  padding: 10px;
}

.social-icon {
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1.25em;
}

.column-social,
.privacy-policy {
  text-align: center;
  width: auto;
}

.privacy-policy {
  padding: 0 20px;
}

.footerSocial {
  flex-direction: column;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .icons-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-icon {
    padding: 15px;
  }

  .privacy-policy {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
  }
}
