.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2a292d;
  color: #F2F2eb;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 74px;
  background-color: #1a1a0a;
  color: #F2F2eb;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-icon {
  margin: 0 10px; /* Horizontal spacing */
  /* Additional styling for icons if needed */
}

img {
  padding: .5rem;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  padding: 1.25em;
}

/* Create three equal columns that sits next to each other */
.column-founders {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 2;
  /* height: 300px;  */
}

.column-links {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* height: 300px;  */
}

.column-social{
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* height: 300px;  */
}

.footerSocial {
  flex-direction: column;
}

.footerSocial a {
  color: #F2F2eb;
}