@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities; 


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* NavBar */
.navHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}
.logo {
    margin-right: auto;
}
.navHeader li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.searchbar{
margin: 0 auto;
margin-left: 100px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}

.capitalize {
    position: relative;
    /* top: 70%; */
}

.scrolling-wrapper{
    /* background-color: aqua; */
    height: 20vh !important;
    border: 5px solid black !important;
    background-color: aliceblue;
}


.card{

    border: 2px solid red;
    
}

.img-scroll{
    position: relative;
    bottom: 40%;
}

.img-four{
    position: relative;
    bottom: 80%;
}

.space-x-4{
    margin-top: 50%;
}




/* NavBar media query */
@media only screen and (max-width: 600px) {


    .responsive-Nav, .logo, .navHeader li, .searchbar, .departments {
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
}

/* Landing Page */
.landingPageContainer {
display: flex;
justify-content: center;
border: solid 1px lightgray;
}

.img-left, .img-right {
    width: 100%;

}


@media only screen and (max-width: 600px) {
    .landingPageContainer {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .img-left  {
        width: 100%;
        height: 300px;
    }
    .img-right {

      width: 600px;
      height: 400px;
    }
}

/* /..protectiveRoute../ */

.protectiveRoute {
 display: flex;
 justify-content: center;
 margin: 400px auto;
}
/*....protectiveRoute Media query */
@media only screen and (max-width: 600px) {
    .protectiveRoute {
        margin: 250px auto;
        text-align: center;
    }

    .center {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    .scrolling-wrapper{
    
        display: flex;
        height: 100%;
        justify-content: space-between;
        overflow-x: auto;
    
    }
    
    .card{
        flex-basis: 50%;
        flex-shrink: 0;
        height: 100%;
        /* background-color: aqua; */
        opacity: 0.4;
    }
    
    .text-4xl capitalize font-bold{
        text-align: left;
    }
    
    .bg-black{
        background-color: black;
        border: 2px solid #D6AD60 !important;
        color: #D6AD60;
    
    }
    
    .btn-started{
        position: absolute;
    }
    
    .btn-started-special{
        position: absolute;
        left: 30%;
        color: white;
        background-color: transparent;
    }
    
    .lower-income{
        position: absolute;
        top: 88%;
        display: block;
    }
    
    .moral{
        position: absolute;
        top: 115%;
    
    }

    .products{
        /* margin-left: 5%; */
    }

    .products-box{
        width: 100%;
    }
 
}


/* For 480px */

@media screen and (max-width: 480px) {

    .btn-started, .btn-started-special{
        position: absolute;
        top: 73%;
    }

    .lower-income{
        font-size: 0.8rem;
    }

    .moral{
        font-size: 0.8rem;
        position: absolute;
        top: 110%;
    }

    .font-semibold{
        font-size: small;
    }

    .products-box{
        display:block !important;
        width: 100%;
        /* background-color: lavender; */
        margin-top: 5%;
    }

    .chair{
        height: 110%;
    }
 

 
    
}


/* For 380px */

@media screen and (max-width: 380px) {


    .public-resource{
        font-size: 80%;
    }

    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
    }

    .lower-income{
        font-size: 0.7rem;
    }

    .moral{
        font-size: 0.7rem;
        position: absolute;
        top: 112%;
    }

    .font-semibold{
        font-size: 80%;
    }

    .homepage-icon{
        margin-top: 70%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }
}


/* For 380px */

@media screen and (max-width: 320px) {


    .public-resource{
        font-size: 80%;
    }

    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
        width: 35%;
    }

    .lower-income{
        font-size: 0.7rem;
    }

    .moral{
        font-size: 0.7rem;
        position: absolute;
        top: 112%;
    }

    .font-semibold{
        font-size: 50%;
    }

    .homepage-icon{
        margin-top: 120%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }

    .font-bold{
        font-size: 130%;
    }
}


.bg-black{
    background-color: black;
    border: 2px solid #D6AD60 !important;
    color: #D6AD60;

}

.btn-started{
    position: absolute;
}

.btn-started-special{
    position: absolute;
    left: 30%;
    color: white;
    background-color: transparent;
}

.lower-income{
    position: absolute;
    top: 88%;
    display: block;
}

.moral{
    position: absolute;
    top: 115%;
}


/* For 480px */

@media screen and (max-width: 480px) {

    .btn-started, .btn-started-special{
        position: absolute;
        top: 73%;
    }

    .lower-income{
        font-size: 0.8rem;
    }

    .moral{
        font-size: 0.8rem;
        position: absolute;
        top: 110%;
    }

    .font-semibold{
        font-size: small;
    }
    
}


/* For 380px */

@media screen and (max-width: 380px) {


    .public-resource{
        font-size: 80%;
    }

    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
    }

    .lower-income{
        font-size: 0.7rem;
    }

    .moral{
        font-size: 0.7rem;
        position: absolute;
        top: 112%;
    }

    .font-semibold{
        font-size: 80%;
    }

    .homepage-icon{
        margin-top: 70%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }
}


/* For 380px */

@media screen and (max-width: 320px) {


    .public-resource{
        font-size: 80%;
    }

    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
        width: 35%;
    }

    .lower-income{
        font-size: 0.7rem;
    }

    .moral{
        font-size: 0.7rem;
        position: absolute;
        top: 112%;
    }

    .font-semibold{
        font-size: 50%;
    }

    .homepage-icon{
        margin-top: 120%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }

    .font-bold{
        font-size: 130%;
    }
}


/* ..............affiliations_mobile..............  */

@media only screen and (max-width: 600px) {
    .affiliations_mobile {
      width: 74px;
      height: 74px;
    }
}