* {
    margin: 0;
    padding: 0;
}


/* NavBar */
.navHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}
.logo {
    margin-right: auto;
}
.navHeader li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
/* NavBar media query */
@media only screen and (max-width: 600px) {


    .responsive-Nav, .logo, .navHeader li {
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
}



/* Landing Page */
.user {
display: flex;
justify-content: center;
}