@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities; 


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* NavBar */
.navHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}
.logo {
    margin-right: auto;
}
.navHeader li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.capitalize {
    position: relative;
    /* top: 70%; */
}

.img-scroll{
    position: relative;
    bottom: 40%;
}

.img-four{
    position: relative;
    bottom: 80%;
}

.space-x-4{
    margin-top: 50%;
}


/* index.css */

  
  
  /* Main content should take up the remaining space */
  #root > section {
    flex: 1;
    padding: 20px;
  }

/* Ensure the height of html and body is 100% */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Disable horizontal scrolling */
    scroll-behavior: smooth; /* Optional: Enable smooth scrolling */
    overscroll-behavior-y: none; /* Prevent over-scroll on mobile */
  }
  
  /* Ensure the root takes the full viewport height */
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  

/* NavBar media query */
@media only screen and (max-width: 600px) {


    .responsive-Nav, .logo, .navHeader li, .departments {
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
}

/* Landing Page */
.landingPageContainer {
display: flex;
justify-content: center;
border: solid 1px lightgray;
}

.img-left, .img-right {
    width: 100%;

}


@media only screen and (max-width: 600px) {
    .landingPageContainer {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .img-left  {
        width: 100%;
        height: 300px;
    }
    .img-right {

      width: 600px;
      height: 400px;
    }
}

/* /..protectiveRoute../ */

.protectiveRoute {
 display: flex;
 justify-content: center;
 margin: 400px auto;
}
/*....protectiveRoute Media query */
@media only screen and (max-width: 600px) {
    .protectiveRoute {
        margin: 250px auto;
        text-align: center;
    }

    .center {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    
    
    .text-4xl capitalize font-bold{
        text-align: left;
    }

    
    .btn-started{
        position: absolute;
    }
    
    .btn-started-special{
        position: absolute;
        left: 30%;
        color: #F2F2eb;
        background-color: transparent;
    }

    .products-box{
        width: 100%;
    }
 
}


/* For 480px */

@media screen and (max-width: 480px) {

    .btn-started, .btn-started-special{
        position: absolute;
        top: 73%;
    }

    .font-semibold{
        font-size: small;
    }

    .products-box{
        display:block ;
        width: 100%;
        /* background-color: lavender; */
        margin-top: 5%;
    }

    .chair{
        height: 110%;
    }
 

 
    
}


/* For 380px */

@media screen and (max-width: 380px) {


    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
    }

    .font-semibold{
        font-size: 80%;
    }

    .homepage-icon{
        margin-top: 70%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }
}


/* For 380px */

@media screen and (max-width: 320px) {


    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
        width: 35%;
    }

    .font-semibold{
        font-size: 50%;
    }

    .homepage-icon{
        margin-top: 120%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }

    .font-bold{
        font-size: 130%;
    }
}


.bg-black{
    background-color: #0C0F18;
    border: 2px solid #0C0F18;
    color: #B4B5B5;

}

.btn-started{
    position: absolute;
}

.btn-started-special{
    position: absolute;
    left: 30%;
    color: #F2F2eb;
    background-color: transparent;
}


/* For 480px */

@media screen and (max-width: 480px) {

    .btn-started, .btn-started-special{
        position: absolute;
        top: 73%;
    }


    .font-semibold{
        font-size: small;
    }
    
}


/* For 380px */

@media screen and (max-width: 380px) {

    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
    }

    .font-semibold{
        font-size: 80%;
    }

    .homepage-icon{
        margin-top: 70%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }
}


/* For 380px */

@media screen and (max-width: 320px) {


    .btn-started, .btn-started-special{
        position: absolute;
        top: 75%;
        height: 7%;
        width: 35%;
    }

    .font-semibold{
        font-size: 50%;
    }

    .homepage-icon{
        margin-top: 120%;
    }

    .homepage-bg-black-points{
        font-size: small;
    }
    
    .bottom-btn{
        height: 10%;
        padding: 2%;
    }

    .font-bold{
        font-size: 130%;
    }
}


/* ..............affiliations_mobile..............  */

@media only screen and (max-width: 600px) {
    .affiliations_mobile {
      width: 74px;
      height: 74px;
    }
}